{% extends 'Base/base.html.twig' %}

{% block corpo %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Comissão</th>
            <th scope="col">Visualizar vendas do vendedor</th>
        </tr>
        </thead>
        <tbody>
            {% for vendedor in vendedores %}
                <tr>
                    <td>{{ vendedor.id }}</td>
                    <td>{{ vendedor.nome }}</td>
                    <td>{{ vendedor.email }}</td>
                    <td>{{ vendedor.comissao }}</td>
                    <td>
                        <i data-id-vendedor="{{ vendedor.id }}" class="btn btn-sm btn-success visualizar_vendas_vendedor">Visualizar vendas</i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}